.banner {
    height: 75px;
    width/max-width: 1800px;
    margin: 0 auto;
    background-color: #55761a;
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

table2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: center;
}
th {
  font-weight: normal;
  color: #55761a;

  padding: 10px 8px;
}
td {
  color: #55761a;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {color: #dfe49b;}

.table_budget {
    width: 0%;
    float: left;
    text-align: center;
    border: 1px solid black;
    color: white;
}
.td {
  color: white;
  transition: .3s linear;
}

.block_1 {
    margin: 0 0 0 auto;
    float:left;
}

.line_block {
        background: #ebecf1;
        float:left;
        margin: 0 0 0 0;
        text-align: center;
        padding: 10px;
        margin-left: 1%;
        }

.picker {
    font-size: 1.4em;
    font-family: "Arial";
    font-color: rgb(34,39,128);
}

media screen and (max-width: 650px) {
    .line_block {
    width:  auto;}
}

.bblock {
     display: inline-block; /*Задаем обтекание*/
     margin-top: 40px;
     /*line-height: 40px;/*Высота строки +  верт. центрирования текста*/
     font-size: 20px;
     margin: 0;
     vertical-align: top;
     height: 50px;
     padding: 10px;
    }

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ebecf1;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.labels_encrypt {
    padding: 10px 25px;
    color: #55761a;
}

.export {
    font-size: 12px;
    visibility: hidden;
}

.export:after {
      content:'Сохранить в формате excel';
      visibility: visible;
      position: absolute;
      color: #55761a;
      border: 1px solid #55761a;
      border-radius: 5px;
      padding: 0 30px;
      margin: 0 0 10px -75px;
}

.btn_load {
    width: 17%;
    padding: 0 30px;

}

.table_all {
    width: 98%;
    padding: 10px;
}
.table_staff {
    width: 50%;
    margin: auto;
}

.btn_loaders {
    color: #55761a;
    border: 1px solid #55761a;
}