.banner {
    height: 75px;
    width/max-width: 1800px;
    margin: 0 auto;
    background-color: #55761a;
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

table2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: center;
}
th {
  font-weight: normal;
  color: #55761a;

  padding: 10px 8px;
}
td {
  color: #55761a;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {color: #dfe49b;}

.table_budget {
    width: 0%;
    float: left;
    text-align: center;
    border: 1px solid black;
    color: white;
}
.td {
  color: white;
  transition: .3s linear;
}

.block_1 {
    margin: 0 0 0 auto;
    float:left;
}

.line_block {
        background: #ebecf1;
        float:left;
        margin: 0 0 0 0;
        text-align: center;
        padding: 10px;
        margin-left: 1%;
        }

.picker {
    font-size: 1.4em;
    font-family: "Arial";
    font-color: rgb(34,39,128);
}

media screen and (max-width: 650px) {
    .line_block {
    width:  auto;}
}

.bblock {
     display: inline-block; /*Задаем обтекание*/
     margin-top: 40px;
     /*line-height: 40px;/*Высота строки +  верт. центрирования текста*/
     font-size: 20px;
     margin: 0;
     vertical-align: top;
     height: 50px;
     padding: 10px;
    }

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ebecf1;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.labels_encrypt {
    padding: 10px 25px;
    color: #55761a;
}

.export {
    font-size: 12px;
    margin: 0px 0px 10px 1px;
    visibility: hidden;
}

.export:after {
      content:'Сохранить в формате excel';
      visibility: visible;
      position: absolute;
      color: #55761a;
      border: 1px solid #55761a;
      border-radius: 10px;
      padding: 0 30px;
      margin: 0 0 10px -75px;
      background-color: rgb(223, 228, 155);
}

.btn_load {
    width: 17%;
    padding: 0 30px;
}

.table_all {
    width: 98%;
    padding: 10px;
}

.table_staff {
    width: 50%;
    margin: auto;
}

.btn_loaders {
    border-radius: 10px;
    color: #55761a;
    border: 1px solid #55761a;
    background-color: rgb(223, 228, 155);
    margin: 0px -7px;
}

.btn_loaders:hover {
    background-color: #9db33e;
}

.btn_loaders:active {
    background-color: #63a583;
}

.lbl_limit {
    margin: 10px 25px;
    color: #55761a;
    display: inline-block;
}

.curr_tasks_input {
    color: #55761a;
    width: 60px;
    height: 25px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px 25px;
    border-color: silver;
}

.submit_btn {
    border-radius: 10px;
    color: #55761a;
    background-color: rgb(223, 228, 155);
}

.submit_btn:hover {;
    background-color: #9db33e;
}

.submit_btn:active {
    background-color: #63a583;
}

.link {
    border-radius: 10px;
    margin: 5px 23px;
    color: #55761a;
    border: 1px solid #55761a;
    background-color: rgb(223, 228, 155);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: 13px;
    }

.link:hover {;
    background-color: #9db33e;
    color: #55761a;
}

.link:active {
    color: #55761a;
    background-color: #63a583;
}

.person_label {
    width: 300px;
    display: inline-block;
    padding: 5px 16px;
    font-size: 25px;
    color: #55761a
}

.person_dropdown_div {
    width: 300px;
    font-size: 14px;
    padding: 1%;
}

.lbl_curr_lim {
    display: inline-block;
    color: darkblue;
    font-size: 25px;
}

.div_table_person {
    padding: 30px 0px;
}

.div_btn_load_to_db {
    display:inline-block;
    padding:0px 0px 0px 150px;
}
.div_load_table_to_db_label {
    display: inline-block;
    padding: 0px 0px 0px 60px;
    color: green;
    font-weight:bold;
}

.lbl_db {
    font-size: 25px;
}

.div_lbl_db {
    display: inline-block;
    font-size: 15px;
    padding: 25px 20px;
}

.div_dropdown_db {
    display: inline-block;
    width: 300px;
    padding: 25px 20px;
    margin: 0px 0px -34px 0px;
}

.table_all_1 {
    width: 98%;
    padding: 60px 10px;
}